# Игнорируем папку виртуального окружения Python (если назовёшь её venv)
venv/

# Игнорируем файл с секретами (токен бота и т.п.), чтобы он не попал в GitHub
.env

# Игнорируем кеш-файлы Python, которые генерируются автоматически
__pycache__/
*.pyc

# Игнорируем служебную папку настроек PyCharm
.idea/

services/bot/database/users/
Старые версии( перестраховка)/
last_messages.json


